// colors
$primary-color: #60606e;
$secondary-color: #7beec7;
$background-color: #667380;
$white: #fff;

// font sizes
$biggest-size: 48px;
$bigger-size: 30px;
$big-size: 18px;
$normal-size: 16px;
$medium-size: 14px;

